<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Index</title>
    <style>
       
    </style>
    
</head>
<body>
    <div class="body">
        <!-- navigation bar -->
        <div class="nav-bar">
            <div class="black-bar">
                <span>FAMILY EVENTS</span>
                <input type="checkbox" class="hm-check" id="hm-menu">
                <label onclick="hmaction();" class="hm-label" for="hm-menu">
                    <div class="menu-icon">
                        <div class="line"></div>
                        <div class="line middle-line"></div>
                        <div class="line"></div>
                    </div>
                
                </label>
            </div>
            <div class="glass-bar">
                <ul>
                    <a href="{% url 'homepage' %}"><li>Home</li></a>
                    <a href="{% url 'worksmenu' %}"><li>works</li></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"><li>Logout</li></a>
                    {% else %}
                    <a href="{% url 'loginpage' %}"><li>Login/Register</li></a>
                    {% endif %}  
                    {% if user.user_profile.role >= 3 %}
                    <a href="{% url 'creatework' %}"><li>create work</li></a>
                    {% endif %}
                    <li class="credits">©familyevents</li>
                </ul>
            </div>
        </div>
<!-- navigation bar -->
<!-- content -->

<div class="service-content-box">
    {% for x in employees%}
    <form class="create-service works-bar works requests">
      <img src="{{ x.user.user_profile.dp_image.url }}" alt="">
      <span>{{x.user.first_name}} {{x.user.last_name}}</span>
      <span>{{x.user.username}}</span>
      <span>AGE : {{x.user.user_profile.dob}}</span>
      <span >Number : {{x.user.user_profile.whatsapp_number}}</span>
      <span>Email : {{x.user.email}}</span>
      <span>Work Points : {{x.user.user_profile.work_points}}</span>
      <a style="padding: 1%; border-radius: 3vh; text-decoration: none;" href="{% url 'rejectbooking' x.id %}" class="work-admin-button">REMOVE USER</a>
    </form>
    {% endfor %}
    


</div>

</body>
<script>
    var b = document.getElementsByClassName('service-card');
var c = document.querySelectorAll('.service-card').length;
if(window.innerWidth <= 425){
    b[0].style.marginTop='15vh';
    b[c-1].style.marginBottom='25vh';
} else {
    b[0].style.marginTop='33vh';
    b[c-1].style.marginBottom='35vh';
}
</script>
</html>