<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ">
    <title>Home</title><link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <style>
        body{
            background-image: url('../static/images/topImage.jpg');
        }
    </style>
</head>
<body>
    <section class="nav-bar">
    <div class="logo">
        <h5>FAMILY EVENTS</h5>
    </div>
    <div class="hm-menu">
        <input type="checkbox" name="" id="hm-menu">
        <label for="hm-menu" class="menu-icon" id="menu-icon">
            <div class="line"></div>
            <div class="line middle-line"></div>
            <div class="line"></div>
        </label>
    </div>

    </section>
    <section class="nav-bar-small" id="nav-bar-small">
       <div class="navs">
       <a href="{% url 'homepage' %}">Home</a>
       {% if is_authenticated %}
       <a href="{% url 'logout' %}">Logout</a>
       {% else %}
       <a href="{% url 'loginpage' %}">Login/Register</a>
       {% endif %}
       <a href="">Services</a>
       <a href="{% url 'createservice' %}">Create Service</a>
       <span class="credits">copyright family events</span>

       </div>
       
    </section>
    <section class="services-body">
        {% for x in works %}
        <div class="services-box">
            <h4>Applicant Name : {{ x.user.username }}</h4>
            <span>{{ x.work.name }}</span>
            <a href="{% url 'bookwork' x.id %}">Book Now</a>
            <div class="admin-buttons">
                <a href="{% url 'acceptbooking' x.id %}">accept</a>
                <a href="{% url 'rejectbooking' x.id %}">reject</a>
            </div>
            </div>
        {% endfor %}
</section>
</body>
</html>