<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ">
    <title>Home</title><link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <style>
        body{
            background-image: url('../static/images/topImage.jpg');
        }
    </style>
</head>
<body>
    <section class="nav-bar">
    <div class="logo">
        <h5>FAMILY EVENTS</h5>
    </div>
    <div class="hm-menu">
        <input type="checkbox" name="" id="hm-menu">
        <label for="hm-menu" class="menu-icon" id="menu-icon">
            <div class="line"></div>
            <div class="line middle-line"></div>
            <div class="line"></div>
        </label>
    </div>

    </section>
    <section class="nav-bar-small" id="nav-bar-small">
       <div class="navs">
       <a href="{% url 'homepage' %}">Home</a>
       {% if is_authenticated %}
       <a href="{% url 'logout' %}">Logout</a>
       {% else %}
       <a href="{% url 'loginpage' %}">Login/Register</a>
       {% endif %}
       {% if user.user_profile.role >= 3 %}
       <a href="{% url 'creatework' %}">Create Work</a>
       <a href="{% url 'bookingrequests' %}">Work Requests</a>  
       {% endif %}
       <span class="credits">copyright family events</span>

       </div>
       
    </section>
    <section class="services-body">
        {% for x in works %}
        <div class="services-box">
            <h4>{{ x.name }}</h4>
            <span>Date : {{ x.date }}</span>
            <span>Location : {{ x.place }}</span>
            <span>Description : {{ x.description }}</span>
            <span>From {{ x.from_time }}</span>
            <span>To {{ x.to_time }}</span>
            <a href="{% url 'bookwork' x.id %}">Book Now</a>
            {% if user.user_profile.role >= 3 %}
            <div class="admin-buttons">
                <a href="{% url 'editwork' x.id %}">edit</a>
                <a href="{% url 'deletework' x.id %}">delete</a>
                <a href="{% url 'approvedemployees' x.id %}">approvedemployees</a>
            </div>
            {% endif %}
            </div>
            {% endfor %}
</section>
</body>
</html>