<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Index</title>
</head>
<body>
    <div class="body">
        <!-- navigation bar -->
        <div class="nav-bar">
            <div class="black-bar">
                <span>FAMILY EVENTS</span>
                <input type="checkbox" class="hm-check" id="hm-menu">
                <label onclick="hmaction();" class="hm-label" for="hm-menu">
                    <div class="menu-icon">
                        <div class="line"></div>
                        <div class="line middle-line"></div>
                        <div class="line"></div>
                    </div>
                
                </label>
            </div>
            <div class="glass-bar">
                <ul>
                    <a href="{% url 'homepage' %}"><li>Home</li></a>
                    <a href="{% url 'registerpage' %}"><li>Register</li></a>
                    <li class="credits">©familyevents</li>
                </ul>
            </div>
        </div>
<!-- navigation bar -->
<!-- content -->

<div class="content">
   <div class="brown-box-one">
    <div class="one">
<h1>FAMILY</h1>
<h1>EVENTS</h1>
<span class="login-alert">DONT HAVE AN ACCOUNT?<a href="{% url 'registerpage' %}">REGISTER</a></span>
    </div>
    <form method="post" class="two">
        {% csrf_token %}
<h1>LOGIN</h1>

<input type="text" name="username" placeholder="Username" required>

<input type="password" name="password" placeholder="Password" required>
<div class="buttons">
    <button type="reset">CLEAR</button>
    <button type="submit">LOGIN</button>
</div>
</form>
   </div>
</div>

</body>
</html>