<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Index</title>
</head>
<body>
    <div class="body">
        <!-- navigation bar -->
        <div class="nav-bar">
            <div class="black-bar">
                <span>FAMILY EVENTS</span>
                <input type="checkbox" class="hm-check" id="hm-menu">
                <label onclick="hmaction();" class="hm-label" for="hm-menu">
                    <div class="menu-icon">
                        <div class="line"></div>
                        <div class="line middle-line"></div>
                        <div class="line"></div>
                    </div>
                
                </label>
            </div>
            <div class="glass-bar">
                <ul>
                    <a href="{% url 'homepage' %}"><li>Home</li></a>
                    <a href="{% url 'workmenu' %}"><li>works</li></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"><li>Logout</li></a>
                    {% else %}
                    <a href="{% url 'loginpage' %}"><li>Login/Register</li></a>
                    {% endif %}  
                   
                    <li class="credits">©familyevents</li>
                </ul>
            </div>
        </div>
<!-- navigation bar -->
<!-- content -->

<div class="content">
   <div class="brown-box-one profile">
    <div class="one">
<img src="{{user.user_profile.dp_image.url}}" alt="" srcset="">
    </div>
    <form class="two">

<h3>My Profile</h3>
<img class="mobile-image" src="{{user.user_profile.dp_image.url}}" alt="" srcset="">
<span>USERNAME : {{user.username}}</span>
<span>NAME : {{user.first_name}} {{user.last_name}}</span>
<span>EMAIL : {{user.email}}</span>
<span>PHONE NUMBER : {{user.user_profile.whatsapp_number}}</span>
<span>AGE : 18</span>
<span>LEVEL : {{user.user_profile.role}}</span>
<div class="button">
    <a style="width: 100%; display: flex; justify-content: flex-end;" href="{% url 'editprofile' %}"><img src="{% static 'images/icons/edit-icon.png' %}" alt="" srcset=""></a>
</div>
</form>
   </div>
</div>

</body>
</html>