<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Index</title>
    <style>
       
    </style>
    
</head>
<body>
    <div class="body">
        <!-- navigation bar -->
        <div class="nav-bar">
            <div class="black-bar">
                <span>FAMILY EVENTS</span>
                <input type="checkbox" class="hm-check" id="hm-menu">
                <label onclick="hmaction();" class="hm-label" for="hm-menu">
                    <div class="menu-icon">
                        <div class="line"></div>
                        <div class="line middle-line"></div>
                        <div class="line"></div>
                    </div>
                
                </label>
            </div>
            <div class="glass-bar">
                <ul>
                    <a href="{% url 'homepage' %}"><li>Home</li></a>
                    {% if user.user_profile.role >= 2 %}
                    <a href="{% url 'createservice' %}"><li>Create Service</li></a>
                    {% endif %}
                    {% if is_authenticated %}
                    <a href="{% url 'logout' %}"><li>Logout</li></a>
                    {% else %}
                    <a href="{% url 'loginpage' %}"><li>Login/Register</li></a>
                    {% endif %}
                    {% if user_profile.role >= 1 %}
                    <a href="{% url 'workmenu' %}"><li>Works</li></a>
                    {% endif %}
                    <li class="credits">©familyevents</li>
                </ul>
            </div>
        </div>
<!-- navigation bar -->
<!-- content -->

<div class="service-content-box">
    {% for x in service %}
    <div class="service-card">
        <div class="service-image" style="background-image: url('{{x.image.url}}'); background-size: cover;"></div>
        <div class="black-card">
            <h2>{{x.name}}</h2>
            <img src="{{x.image.url}}" class="service-image-tag" alt="" srcset=""><!--image here-->
         <!--para here-->   <p>{{x.description}}</p>
            <a href="{% url 'viewservice' x.id %}">Book Now</a><!--link here-->
            <div class="admins-buttons">
                <a href="{% url 'editservice' x.id %}">Edit</a><!--link here-->
                <a href="{% url 'deleteservice' x.id %}">Delete</a><!--link here--> 
            </div>
        </div>
    </div>
    {% endfor %}

    


</div>

</body>
<script>
    var b = document.getElementsByClassName('service-card');
var c = document.querySelectorAll('.service-card').length;
if(window.innerWidth <= 425){
    b[0].style.marginTop='15vh';
    b[c-1].style.marginBottom='25vh';
} else {
    b[0].style.marginTop='35vh';
    b[c-1].style.marginBottom='35vh';
}
</script>
</html>